<section>
  <h4>Пайп делающий текст как в 2007</h4>

  <pre>{{ 'Пайпом можно делать так' | twoThousandAndSevenCase }}</pre>
  <pre>{{ 'Или так - с параметрами' | twoThousandAndSevenCase:123:'123':[1, '2', null] }}</pre>
  <pre>{{ twoThousandAndSevenCasePipeReplacementFn('Посчитаем повторные вызовы через функцию и через пайп') }}</pre>
</section>
































<section>
  <h4>Стандартные пайпы</h4>

  <pre>{{ 'LowerCasePipe' | lowercase }}</pre>
  <pre>{{ 'UpperCasePipe' | uppercase }}</pre>
  <pre>{{ 'TitleCasePipe TitleCasePipe TitleCasePipe' | titlecase }}</pre>
  <pre>DecimalPipe: {{ '11.034' | number:'1.0-2' }}</pre>
  <pre>CurrencyPipe: {{ 123.5 | currency:'USD':'$_':'1.2-2' }}</pre>
  <pre>JsonPipe: {{ complexObject | json }}</pre>
  <pre>PercentPipe: {{ 0.53 | percent }}</pre>
  <pre>DatePipe: {{ date | date: 'год: YYYY, месяц: MM, день: dd; время: HH:mm' }}</pre>
  <pre>KeyValuePipe: <ng-container *ngFor="let item of keyValueObject | keyvalue; last as isLast">{{item.key}}: {{item.value}}{{isLast ? '' : ', ' }}</ng-container></pre>
  <pre>SlicePipe: {{ arrayOfNumbers | slice : 1 : 3 }}</pre>
  <pre>AsyncPipe: {{ observable$ | async }}</pre>
</section>
























<section>
  <h4>Пайпы можно объединять</h4>

  <pre>keyValueObject = {{keyValueObject | json}}</pre>
  <pre>keyValueObject -> KeyValuePipe -> SlicePipe -> JsonPipe -> UpperCasePipe: {{ keyValueObject | keyvalue | slice:0:3 | json | uppercase }}</pre>
</section>

































<section>
  <h4>Pipe vs Function</h4>
  <button (click)="doSomething()">Запустить ChangeDetection</button>
  <pre>Можно через Pipe {{ 'Текст на uppercase' | uppercase}}</pre>
  <pre>Можно через Function: {{ upperCasePipeReplacementFn('Текст на uppercase') }}</pre>
  <pre>Можно через Pipe как через Function: {{ upperCasePipe.transform('Текст на uppercase') }}</pre>
</section>
































<section>
  <h4>Минутка извращений с пайпами - пайп для переводов</h4>

  <div class="hidden">
    {{ 'Тестовый перевод номер 1 [foo]' | saveTranslation: 'foo' }}
    {{ 'Тестовый перевод номер 2 [bar]' | saveTranslation: 'bar' }}
    {{ 'Тестовый перевод номер 3 [baz]' | saveTranslation: 'baz' }}

    <div #translation><b [style.color]="'red'">Перевод</b> со <a href="https://admitad.com" target="_blank">ссылкой</a></div>
    {{ translation.innerHTML | saveTranslation: 'link' : true }}
  </div>

  <pre>{{ 'baq' | translate }}</pre>
  <pre>{{ 'foo' | translate }}</pre>
  <pre>{{ 'bar' | translate }}</pre>
  <pre>{{ 'baz' | translate }}</pre>
  <pre [innerHTML]="'link' | translate"></pre>
</section>



















