:host {
  display: block;
  padding: 30px 20px;
}

section {
  background: #fff;
  margin-bottom: 30px;
  padding: 10px 15px 5px;

  h4 {
    margin-top: 10px;
  }

  pre {
    background: #ececec;
    padding: 5px 10px;
    color: #045e04;
  }
}
